<html>
<head>
    <title>Welcome</title>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/HomeScript.js"></script>
</head>
<body>
    <form style="float:left">
        <h4>Sign Up</h4>
        <table>
            <tr>
                <td>First Name</td>
                <td><input type="text" name="firstName" id="firstName" placeholder="First Name" value="" required /></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="lastName" id="lastName" placeholder="Last Name" value="" required /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="email" id="email" placeholder="Email" value="" required /></td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td><input type="text" name="phoneNumber" placeholder="Phone Number" id="phoneNumber" value="" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" placeholder="Password" id="password" value="" /></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" name="confirmPassword" placeholder="Confirm Password" id="confirmPassword" value="" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="btnRegister" id="btnRegister" value="Register" /></td>
            </tr>
        </table>
    </form>
    <div style="float:left">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <form style="float:left">
        <h4>Login</h4>
        <table>
            <tr>
                <td>User Name</td>
                <td><input type="text" name="userName" placeholder="Email" id="userName" value="" /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="loginPassword" placeholder="Password" id="loginPassword" value="" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" name="btnLogin" id="btnLogin" value="Login" /></td>
            </tr>
        </table>
    </form>
</body>
</html>

